/*
Primary
Main: #597e50
Light: #87ad7d
Dark: #2e5127

Secondary
Main: #50597e
Light: #fd664e
Dark: #8c0000
 */
.root {
}

.jfx-tool-bar {
    -fx-min-height: 42;
    -fx-background-color: #597e50;
}

.jfx-tool-bar Label {
    -fx-font-size: 24;
    -fx-text-fill: #FFFFFF;
    -fx-font-weight: bold;
}

.jfx-hamburger {
    -fx-cursor: hand;
}

.jfx-hamburger StackPane {
    -fx-background-color: #50597e;
}

.jfx-drawer VBox {
    -fx-background-color: #87ad7d;
}

.jfx-drawer Label {
    -fx-alignment: center;
    -fx-font-size: 20;
    -fx-font-weight: bold;
    -fx-text-fill: #FFFFFF;
    -fx-border-color: #7387A8;
    -fx-border-width: 0 0 2 0;
}

.nav-button:hover {
    -fx-background-color: #2e5127;
    -fx-cursor: hand;
    -fx-text-fill: #fff;
}

.nav-button:hover MaterialDesignIconView, .nav-button:hover FontAwesomeIconView {
    -fx-fill: #fff;
}

.nav-button {
    -fx-background-color: #87ad7d;
    -fx-text-fill: #414141;
    -fx-pref-width: 198px;
    -fx-pref-height: 42px;
    -fx-text-alignment: left;
    -fx-graphic-text-gap: 10px;
    -fx-font-family: Roboto;
    -fx-font-size: 18px;
    -fx-alignment: center-left;
}

.nav-button MaterialDesignIconView, FontAwesomeIconView {
    -fx-fill: #000;
    -fx-text-alignment: left;
    -fx-alignment: center-left;
}

.pressed {
    -fx-background-color: #597e50;
}

.mprogress-bar > .track {
    -fx-background-color: derive(rgb(200.0, 200.0, 200.0), 50.0%);
    -fx-background-radius: 2.0;
    -fx-padding: 0.0;
}

.mprogress-bar > .bar {
    -fx-background-color: #26B99A;
    -fx-background-radius: 2.0;
    -fx-background-insets: 0.0;
    -fx-pref-width: 3;
    -fx-border-width: 0.0;
    -fx-effect: null;
}

.mprogress-bar:indeterminate > .bar {
    -fx-background-color: derive(#26B99A, 50.0%);
    -fx-background-radius: 2.0;
    -fx-background-insets: 0.0;
    -fx-border-width: 0.0;
    -fx-effect: null;
}

.custom-progress-bar > .track {
    /*	-fx-background-color: derive(#D5D5D5, 50.0%);*/
    -fx-background-color: #CDCDCD;
    -fx-background-radius: 2.0;
    -fx-padding: 0.0;
}

.custom-progress-bar > .bar {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 2.0;
    -fx-background-insets: 0.0;

    -fx-border-width: 0.0;
    -fx-effect: null;
}

/***************************************************

                LIST

***************************************************/
.mylistview .scroll-bar:horizontal .track,
.mylistview .scroll-bar:vertical .track {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
    -fx-border-radius: 2em;
}

.mylistview .scroll-bar:horizontal .increment-button,
.mylistview .scroll-bar:horizontal .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0em;
    -fx-padding: 0 0 10 0;
}

.mylistview .scroll-bar:vertical .increment-button,
.mylistview .scroll-bar:vertical .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0em;
    -fx-padding: 0 10 0 0;
}

.mylistview .scroll-bar .increment-arrow,
.mylistview .scroll-bar .decrement-arrow {
    -fx-shape: " ";
    -fx-padding: 0;
}

.mylistview .scroll-bar:horizontal .thumb,
.mylistview .scroll-bar:vertical .thumb {
    -fx-background-color: derive(black, 90%);
    -fx-background-insets: 2, 0, 0;
    -fx-background-radius: 2em;
}

/***************************************************
                Toolbar buttons
***************************************************/

.toolbarBtn {
    -fx-background-color: #fd664e;
    -fx-text-fill: #414141;
    -fx-text-alignment: left;
    -fx-graphic-text-gap: 5px;
    -fx-font-family: Roboto;
    -fx-font-size: 15px;
    -fx-alignment: center-left;
}

/***************************************************
                Card
***************************************************/

.card {
    -fx-effect: dropshadow(gaussian, rgba(0.0, 0.0, 0.0, 0.15), 6.0, 0.7, 0.0, 1.5);
    -fx-background-color: white;
    -fx-padding: 10px;
}

